<footer>
<nav class="round">
<ul>
<%= link_to "About", '#' %> |
<%= link_to "Contact", '#' %> |
<a href="http://news.railstutorial.org/">News</a> |
<a href="http://www.railstutorial.org/">Rails Tutorial</a> |

</nav>
</footer>

